@import 'vars';
footer {
  margin-top: 10%;
  width: 100%;
  background-color: $cian;
  padding: 20px 0;
  ul {
    display: flex;
    justify-content: space-around; 
    a {
      font-family: 'Aldrich', sans-serif;
      color: black;
      text-decoration: none;
      list-style: none;
    }
  }
}   
.container-main-hardware {
  display: flex;
  justify-content: space-around;
}

.container-h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  a {
    text-decoration: none;
    .h3-target {
      width: 468px;
      height: 58px;
      padding: 14px 8px 4px 8px;
      background: $textcolor;
      color: #ffffff;
      border-color: #fdfdfd;
      border-width: 2px;
      border-style: solid;
      border-radius: 8px 4px 8px 4px;
      font-family: "Aldrich";
      font-weight: bold;
      font-size: 23px;
      font-style: italic;
      text-align: center;
      margin: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      box-shadow: 5px 0 20px rgb(148, 238, 238);
    }
  }
}
.container-hw {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  margin: 1rem;
  margin-top: 3rem;
}

.container-img-hw {
  display: grid;
  justify-content: center;
  .img-card-hw {
    border: 10px solid $textcolor;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 30%,rgb(92, 138, 135) 50% );
    border-image-slice: 1;
    border-radius: 5px;
    box-shadow: 5px 0 20px rgb(146, 248, 248);
    transition: all 0.3s ease;
  }
  .img-card-hw:hover {
    transform: translateY(-5px);
    box-shadow: 5px 0 20px rgb(255, 255, 255);
      
  }
}
.hw-container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  margin-left: 12%;
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}
.hw-container-btn:hover {
  background-color: rgb(255, 255, 255);
  color: $btncolor;
}

.vid-container-hw {
  display: flex;
  justify-content: end;
  .vid-container-hwdos {
    display: flex;
    justify-content: start;
  }
}
.card-videos-hw {
  display: flex;
  width: 580px;
  height: 310px;
}
.card-videos-hw:hover{
  box-shadow: 0 0 30px rgb(0, 0, 0);
}