@import 'header';
@import 'index';
@import 'pcarmadas';
@import 'graficas';
@import 'hardware';
@import 'contacto';
@import 'footer';
@import 'vars';
@mixin mezclar-colores($color1, $color2, $ratio) {
  background: linear-gradient(to right, $color1, $color2);
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.5s;

  &:hover {
    background-position: right;
  }
}

$body-color1: #000000;
$body-color2: #254752;
$body-ratio: 50%;

* {
  padding: 0;
  margin: 0;
  }
  /*general*/
  
  body {
    @include mezclar-colores($body-color1, $body-color2, $body-ratio);
  height: 100vh;
  }
  header {
    background-color: $bgcolor;
    h1 {
      height: 90px;
      width: 100%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      text-shadow: 3px 3px 0;
      font-family: 'Aldrich', sans-serif;
      color: aliceblue;
      font-weight: bold;
      font-size: 72px;
      font-style: italic;
      margin: 0;
    }
  }     
  section {
    ul {
      display: flex;
      justify-content: space-around;
      padding: 1em; 
      color: grey;
      background-color: grey;
      margin: 0;
        li {
          a {
            font-family: 'Aldrich', sans-serif;
            text-decoration: none;
            list-style: none;
            color: $white;
          }
        }
    } 
  }
  footer {
    margin-top: 10%;
    width: 100%;
    background-color: $cian;
    padding: 20px 0;
    ul {
      display: flex;
      justify-content: space-around; 
      a {
        font-family: 'Aldrich', sans-serif;
        color: $bgcolor;
        text-decoration: none;
        list-style: none;
      }
    }
  }   
  /* Graficas */
  
  /* Contacto */
  .form-contacto {
    color: white;
  }
  /* footer */
  footer {
    margin-top: 10%;
    width: 100%;
    background-color: $cian;
    padding: 20px 0;
  }
  footer a:visited {
    color: $bgcolor;
    text-decoration: none;
    list-style: none;
  }
  /* Media Queries */
  /* Tablet */
  @media only screen and (max-width:768px) {
nav {
  flex-direction: column;
  align-items: center;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    h1 {
      font-size: 50px;
      justify-content: center;
      align-items: center;
      footer ul {
        justify-content: space-around;
      }
    }
  } 
}
    /* Index */
.container-ix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card-img-ix {
    width: 45%;
    height: 50%;
    .ixcore {
      margin-top: 1rem;
    }
  }
}
  /* PC ARMADAS */
  .section-list {
    margin-bottom: 10%;
  }
  .container-main-pcs {
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
    
.container-h2 {
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
    .h2-card {
      width: 153px;
      height: 60px;
      justify-content: space-around;
      margin-top: 30px;
      a {
        .h2-text {
          width: 100%;
          font-size: 30px;
          height: 100%;
        }
      }
    }
  }
.container-pc {
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 10%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 18%;
  margin-top: 2rem;
    .card-container {
      width: 100%;
    .img-card-pc {
      width: 220px;
      height: 200px;
    }
  }
}
.pc-container-btn {
  margin-left: 10%;
} 
.pc-footer{
  margin-top: 20%;
}
/* graficas  */
.container-main-graficas {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.container-h4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: -10%;
  .h4-card {
    margin: 3%;
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      .target-h4 {
        width: 90px;
        height: 40px;
        padding: 14px 8px 4px 8px;
        background: rgb(12, 158, 158);
        color: #ffffff;
        border-color: #fdfdfd;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px 4px 8px 4px;
        font-family: "Aldrich";
        font-weight: bold;
        font-size: 10px;
        font-style: italic;
        text-align: center;
        margin: 2px;
      }
    }
  }
}
  .container-pv {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 50px;
    margin-left: 18%;
    & &-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 1rem;
      .img-card-pv{
        width: 280px;
        height: 190px;
        border: 10px solid;
        border-image: linear-gradient(to top, rgb(15, 32, 32) 50%,rgb(92, 138, 135) 50% );
        border-image-slice: 1;
      }
    }
  } 
  .pv-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .pv-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: $btncolor;
  } 
  .vid-container-pv {
    display: flex;
    margin-right: 1rem;
    .vid-container-pvdos {
      display: flex;
    }
  }
  .card-videos-pv{
    display: flex;
    width: 200px;
    height: 150px;
  }
  /* HARDWARE */
  .container-main-hardware {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    margin-top: -10%;
  }
  .container-h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .h3-card {
      a {
        text-decoration: none;
        .h3-target {
          width: auto;
          height: auto;
          padding: 14px 8px 4px 8px;
          background: rgb(12, 158, 158);
          color: #ffffff;
          border-color: #fdfdfd;
          border-width: 2px;
          border-style: solid;
          border-radius: 8px 4px 8px 4px;
          font-family: "Aldrich";
          font-weight: bold;
          font-size: 10px;
          font-style: italic;
          text-align: center;
          margin: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          
          margin: 10px;
        }
      }
    }
  }
.container-hw {
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 30px;
  margin: 0;
  margin: 0% 0% 20% 20%;
}
.container-img-hw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 1rem;
  .img-card-hw {
    width: 220px;
    height: 190px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%,rgb(92, 138, 135) 50% );
    border-image-slice: 1;
  }
}
.hw-container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 15px;
  margin-top: 3%;
  margin: 0;
  background-color: black;
  color: white;
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
}
.hw-container-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #f16f6f;
}

.vid-container-hw {
  display: flex;
  margin-right: 1rem;
  .vid-container-hwdos {
    display: flex;
  }
}
.card-videos-hw {
  display: flex;
  width: 200px;
  height: 150px;
}
.hw-footer {
  margin-top: 40%;
}
/* CONTACTO */
footer {
margin-top: 35%;
}
.form-contacto {
  color: white;
}
}
  /* mobile */
  @media only screen and (max-width:576px) {
    
  /* General */
nav {
  width: 100%;
  flex-direction: column;
  align-items: center;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    h1 {
      font-size: 50px;
      justify-content: center;
      align-items: center;
      footer ul {
        justify-content: space-around;
      }
    }
  }
}
  /* Index */
.container-ix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card-img-ix {
    width: 45%;
    height: 50%;
    .ixcore {
      margin-top: 1rem;
    }
  }
}
  /* PC ARMADAS */ 
  .container-main-pcs {
    height: 100vh;
    margin: 0;
  }
.container-h2 {
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  .h2-card {
    display: flex;
    width: 118px;
    height: 40px;
    margin-top: -5%;
    a {
    .h2-text {
      width: 100%;
      font-size: 20px;
      height: 100%;
      }
    }
  }
}
.container-pc {
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 50px;
  padding-left: 48px;
  
  .card-container {
    width: 100%;
    .img-card-pc {
      width: 210px;
      height: 200px;
    }
  }
}
  .pc-container-btn {
    width: 90px;
    font-size: 12px;
    height: 30px;
    margin: 0;
    margin-left: 25%;
    margin-top: 1rem;
  }
  .pc-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20%;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
  }
  .pc-container-btn:hover {
      background-color: rgb(255, 255, 255);
      border: 2px solid #ffffff;
      color: #f16f6f;
      transition: all 0.3s ease;
  }
  .pc-footer {
    margin-top: 0;
  }
  /* Graficas */
  .container-main-graficas {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
  }
  .container-h4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .h4-card {
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        .target-h4 {
          width: auto;
          height: auto;
          padding: 14px 8px 4px 8px;
          background: rgb(12, 158, 158);
          color: #ffffff;
          border-color: #fdfdfd;
          border-width: 2px;
          border-style: solid;
          border-radius: 8px 4px 8px 4px;
          font-family: "Aldrich";
          font-weight: bold;
          font-size: 10px;
          font-style: italic;
          text-align: center;
          margin: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
        
        }
      }
    }
  }
    .container-pv {
      display: grid;
      grid-template-columns: 220px 220px;
      gap: 50px;
      margin-right: 15%;
      & &-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1rem;
        .img-card-pv{
          width: 280px;
          height: 190px;
          border: 10px solid;
          border-image: linear-gradient(to top, rgb(15, 32, 32) 50%,rgb(92, 138, 135) 50% );
          border-image-slice: 1;
        }
      }
    } 
    .pv-container-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 120px;
      height: 40px;
      font-size: 15px;
      margin-top: 3%;
      margin: 0;
      background-color: black;
      color: white;
      border: 2px solid #ffffff;
      transition: all 0.3s ease;
    }
    .pv-container-btn:hover {
      background-color: rgb(255, 255, 255);
      color: #ec8787;
    } 
    .vid-container-pv {
      display: flex;
      margin-right: 1rem;
      .vid-container-pvdos {
        display: flex;
      }
    }
    .card-videos-pv{
      display: flex;
      width: 200px;
      height: 150px;
    }
    /* HARDWARE */
    .container-main-hardware {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      margin: 0;
      margin-top: -10%;
    }
    .container-h3 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      .h3-card {
        a {
          text-decoration: none;
          .h3-target {
            width: auto;
            height: auto;
            padding: 14px 8px 4px 8px;
            background: rgb(12, 158, 158);
            color: #ffffff;
            border-color: #fdfdfd;
            border-width: 2px;
            border-style: solid;
            border-radius: 8px 4px 8px 4px;
            font-family: "Aldrich";
            font-weight: bold;
            font-size: 10px;
            font-style: italic;
            text-align: center;
            margin: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 10px;
          }
        }
      }
    }
  .container-hw {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 30px;
    padding-left: 50px;
    margin: 0;
    margin-left: 2%;
  }
  .container-img-hw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
    .img-card-hw {
      width: 220px;
      height: 190px;
      border: 10px solid;
      border-image: linear-gradient(to top, rgb(15, 32, 32) 50%,rgb(92, 138, 135) 50% );
      border-image-slice: 1;
    }
  }
  .hw-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .hw-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #f16f6f;
  }
  
  .vid-container-hw {
    display: flex;
    margin-right: 1rem;
    .vid-container-hwdos {
      display: flex;
    }
  }
  .card-videos-hw {
    display: flex;
    width: 200px;
    height: 150px;
  }
  .hw-footer {
    margin-top: 40%;
  }
  /* CONTACTO */
footer {
  margin-top: 35%;
  }
  }
  @media only screen and (min-width: 375px) and (max-width: 575px) {
    nav {
      width: 100%;
      flex-direction: column;
      align-items: center;
      header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        h1 {
          font-size: 40px;
          justify-content: center;
          align-items: center;
          footer ul {
            justify-content: space-around;
          }
        }
      }
    }
    .section-list{
      margin: 0;
      li{
        font-size: 8px;
  }
}
      /* Index */
    .container-ix {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10%;
      .card-img-ix {
        width: 45%;
        height: 50%;
        .ixcore {
          margin-top: 1rem;
        }
      }
    }
    .pie-ix{
      margin-top: 20%;
    }
      /* PC ARMADAS */ 
      .container-main-pcs {
        height: auto;
        width: 100%;
        margin: 0;
      }
    .container-h2 {
      width: 100%;
      
      margin-top: 8%;
      .h2-card {
        display: flex;
        width: 95px;
        height: 32px;
        margin-top: -5%;
        a {
        .h2-text {
          width: 100%;
          font-size: 14px;
          height: 100%;
          }
        }
      }
    }
    .container-pc {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
      width: 92%;
      gap: 33px;
      margin: 0;
      padding: 0;
      margin-top: 5%;
      margin-left: 8%;
      .card-container {
        width: 100%;
        .img-card-pc {
          width: 125px;
          height: 170px;
        }
      }
    }
      .pc-container-btn {
        width: 90px;
        font-size: 12px;
        height: 30px;
        margin: 0;
        margin-left: 25%;
        margin-top: 1rem;
      }
      .pc-container-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 93px;
        height: 29px;
        font-size: 10px;
        margin-left: 13%;
        margin-top: 1rem;
        background-color: black;
        color: white;
        border: 2px solid #ffffff;
      }
      .pc-container-btn:hover {
          background-color: rgb(255, 255, 255);
          border: 2px solid #ffffff;
          color: #f16f6f;
          transition: all 0.3s ease;
      }
      .pc-footer {
        margin-top: 27%;
      }
      /* Graficas */
      .container-main-graficas {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 0;
      }
      .container-h4 {
        margin-top: 8%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .h4-card {
          a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            .target-h4 {
              width: auto;
              height: auto;
              padding: 14px 8px 4px 8px;
              background: rgb(12, 158, 158);
              color: #ffffff;
              border-color: #fdfdfd;
              border-width: 2px;
              border-style: solid;
              border-radius: 8px 4px 8px 4px;
              font-family: "Aldrich";
              font-weight: bold;
              font-size: 10px;
              font-style: italic;
              text-align: center;
              margin: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
            
            }
          }
        }
      }
        .container-pv {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          height: auto;
          gap: 50px;
          & &-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            .img-card-pv{
              width: 132px;
              height: 147px;
              border: 10px solid;
              border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
              border-image-slice: 1;
              
            }
          }
        } 
        .pv-container-btn {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 93px;
          height: 29px;
          font-size: 10px;
          background-color: black;
          color: white;
          border: 1px solid #ffffff;
        }
        .pv-container-btn:hover {
          background-color: rgb(255, 255, 255);
          color: #ec8787;
        } 
        .vid-container-pv {
          display: block;
        }
        .card-videos-pv{
          display: flex;
          width: 120px;
          height: 102px;
          padding-bottom: 34px;
          margin-left: 10px;
        }
        .pie {
          margin-top: 10%;
        }
        /* HARDWARE */
        .container-main-hardware {
          display: flex;
          flex-wrap: wrap;
          height: auto;
          margin: 0;
          margin-top: -10%;
        }
        .container-h3 {
          margin-top: 8%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          .h3-card {
            a {
              text-decoration: none;
              .h3-target {
                width: auto;
                height: auto;
                padding: 14px 8px 4px 8px;
                background: rgb(12, 158, 158);
                color: #ffffff;
                border-color: #fdfdfd;
                border-width: 2px;
                border-style: solid;
                border-radius: 8px 4px 8px 4px;
                font-family: "Aldrich";
                font-weight: bold;
                font-size: 8px;
                font-style: italic;
                text-align: center;
                margin: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
              }
            }
          }
        }
      .container-hw {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: auto;
        gap: 33px;
        margin: 0;
        padding: 0;
        margin-left: 5%;
      }
      .container-img-hw {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        .img-card-hw {
          width: 132px;
          height: 147px;
          border: 10px solid;
          border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
          border-image-slice: 1;
        }
      }
      .hw-container-btn {
        display: flex;
          justify-content: space-around;
          align-items: center;
          width: 93px;
          height: 29px;
          font-size: 10px;
          background-color: black;
          color: white;
          border: 1px solid #ffffff;
      }
      .hw-container-btn:hover {
        background-color: rgb(255, 255, 255);
        color: #f16f6f;
      }
      
      .vid-container-hw {
        display: block;
      }
      .card-videos-hw {
        display: flex;
        width: 120px;
        height: 102px;
        padding-bottom: 34px;
        margin-left: 10px;
      }
      .hw-footer {
        margin-top: 20%;
      }
      /* CONTACTO */
      .container-main-contacto{
        height: auto;
      }
    footer {
      margin-top: 5%;
      }
    footer{
      ul{
        margin: 0;
        padding: 0;
        a{
          font-size: 10px;
        }
      }
    }
    .form-contacto {
      color: white;
    }
  }
