header {
  background-color: #000000;
}
header h1 {
  height: 90px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 0;
  font-family: "Aldrich", sans-serif;
  color: aliceblue;
  font-weight: bold;
  font-size: 72px;
  font-style: italic;
  margin: 0;
}

section ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  color: grey;
  background-color: grey;
  margin: 0;
}
section ul li a {
  font-family: "Aldrich", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.container-ix {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.container-ix .card-img-ix {
  width: 350px;
  height: 350px;
  background-color: grey;
  border-style: solid;
  color: rgb(0, 225, 255);
}

footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

.container-main-pcs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.container-h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem;
}
.container-h2 .h2-card {
  background: rgb(5, 196, 196);
  border-color: #ffffff;
  border-width: 4px;
  border-style: inset;
  border-radius: 4px 4px 4px 4px;
  border-radius: 5px;
  box-shadow: 5px 0 20px rgb(148, 238, 238);
}
.container-h2 .h2-card a {
  list-style: none;
  text-decoration: none;
}
.container-h2 .h2-card a .h2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 468px;
  height: 78px;
  font-family: "Aldrich";
  font-weight: bold;
  font-size: 46px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.container-pc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 100%;
  height: 100%;
  margin: 5rem;
}
.container-pc .card-container {
  width: 100%;
}
.container-pc .card-container .img-card-pc {
  width: 250px;
  height: 250px;
  border: 10px solid;
  border-image: linear-gradient(to top, rgb(30, 63, 63) 20%, rgb(92, 138, 135) 50%);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 5px 0 20px rgb(146, 248, 248);
  transition: all 0.3s ease;
}
.container-pc .card-container .img-card-pc:hover {
  transform: translateY(-10px);
  box-shadow: 5px 0 20px rgb(255, 255, 255);
}

.pc-container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 40px;
  margin-left: 5%;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: 2px solid #ffffff;
}

.pc-container-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  color: #f16f6f;
  transition: all 0.3s ease;
}

footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

.container-main-graficas {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.container-h4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}
.container-h4 .h4-card a {
  text-decoration: none;
}
.container-h4 .h4-card a .target-h4 {
  width: 468px;
  height: 58px;
  padding: 14px 8px 4px 8px;
  background: rgb(12, 158, 158);
  color: #ffffff;
  border-color: #fdfdfd;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px 4px 8px 4px;
  font-family: "Aldrich";
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  text-align: center;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  box-shadow: 5px 0 20px rgb(148, 238, 238);
}

.container-pv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  margin: 1rem;
}
.container-pv .container-pv-img {
  display: grid;
  justify-content: center;
}
.container-pv .container-pv-img .img-card-pv {
  width: 240px;
  height: 250px;
  border: 10px solid;
  border-image: linear-gradient(to top, rgb(15, 32, 32) 30%, rgb(92, 138, 135) 50%);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 1px 0 20px rgb(146, 248, 248);
  transition: all 0.4s ease;
}
.container-pv .container-pv-img .img-card-pv:hover {
  transform: translateY(-5px);
  box-shadow: 1px 0 20px rgb(255, 255, 255);
}

.pv-container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  margin-left: 12%;
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.pv-container-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #f16f6f;
}

.vid-container-pv {
  display: flex;
  justify-content: end;
}
.vid-container-pv .vid-container-pvdos {
  display: flex;
  justify-content: start;
}

.card-videos-pv {
  display: flex;
  width: 580px;
  height: 310px;
}

.card-videos-pv:hover {
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

.container-main-hardware {
  display: flex;
  justify-content: space-around;
}

.container-h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}
.container-h3 a {
  text-decoration: none;
}
.container-h3 a .h3-target {
  width: 468px;
  height: 58px;
  padding: 14px 8px 4px 8px;
  background: rgb(12, 158, 158);
  color: #ffffff;
  border-color: #fdfdfd;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px 4px 8px 4px;
  font-family: "Aldrich";
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  text-align: center;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  box-shadow: 5px 0 20px rgb(148, 238, 238);
}

.container-hw {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  margin: 1rem;
  margin-top: 3rem;
}

.container-img-hw {
  display: grid;
  justify-content: center;
}
.container-img-hw .img-card-hw {
  border: 10px solid rgb(12, 158, 158);
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-image: linear-gradient(to top, rgb(15, 32, 32) 30%, rgb(92, 138, 135) 50%);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 1px 0 20px rgb(146, 248, 248);
  transition: all 0.3s ease;
}
.container-img-hw .img-card-hw:hover {
  transform: translateY(-5px);
  box-shadow: 5px 0 20px rgb(255, 255, 255);
}

.hw-container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  margin-left: 12%;
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.hw-container-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #f16f6f;
}

.vid-container-hw {
  display: flex;
  justify-content: end;
}
.vid-container-hw .vid-container-hwdos {
  display: flex;
  justify-content: start;
}

.card-videos-hw {
  display: flex;
  width: 580px;
  height: 310px;
}

.card-videos-hw:hover {
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

footer {
  margin-top: 5%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

.container-main-contacto {
  height: 100vh;
}
.container-main-contacto .contacto-h1 {
  color: white;
}
.container-main-contacto .contacto-h1 .form-contacto {
  margin: 20px;
}
.container-main-contacto .contacto-h1 .form-contacto .form-label {
  color: white;
}
.container-main-contacto .contacto-h1 .form-contacto .form-label .form-check-label {
  color: white;
  margin-top: 25px;
}
.container-main-contacto .contacto-h1 .form-contacto .form-label .form-check-label .form-check-input {
  margin-top: 30px;
}
.container-main-contacto .contacto-h1 .form-contacto .form-label .form-check-label .form-check-input .btn-primary {
  margin-top: 20px;
}

.map-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.map-container-2 .map-iframe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

/*general*/
body {
  background: linear-gradient(to right, #000000, #254752);
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.5s;
  height: 100vh;
}
body:hover {
  background-position: right;
}

header {
  background-color: #000000;
}
header h1 {
  height: 90px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 0;
  font-family: "Aldrich", sans-serif;
  color: aliceblue;
  font-weight: bold;
  font-size: 72px;
  font-style: italic;
  margin: 0;
}

section ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  color: grey;
  background-color: grey;
  margin: 0;
}
section ul li a {
  font-family: "Aldrich", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul a {
  font-family: "Aldrich", sans-serif;
  color: #000000;
  text-decoration: none;
  list-style: none;
}

/* Graficas */
/* Contacto */
/* footer */
footer {
  margin-top: 10%;
  width: 100%;
  background-color: #00ffff;
  padding: 20px 0;
}

footer a:visited {
  color: #000000;
  text-decoration: none;
  list-style: none;
}

/* Media Queries */
/* Tablet */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  nav header h1 {
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
  nav header h1 footer ul {
    justify-content: space-around;
  }
  /* Index */
  .container-ix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-ix .card-img-ix {
    width: 45%;
    height: 50%;
  }
  .container-ix .card-img-ix .ixcore {
    margin-top: 1rem;
  }
  /* PC ARMADAS */
  .section-list {
    margin-bottom: 10%;
  }
  .container-main-pcs {
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  .container-h2 {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .container-h2 .h2-card {
    width: 153px;
    height: 60px;
    justify-content: space-around;
    margin-top: 30px;
  }
  .container-h2 .h2-card a .h2-text {
    width: 100%;
    font-size: 30px;
    height: 100%;
  }
  .container-pc {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 18%;
    margin-top: 2rem;
  }
  .container-pc .card-container {
    width: 100%;
  }
  .container-pc .card-container .img-card-pc {
    width: 220px;
    height: 200px;
  }
  .pc-container-btn {
    margin-left: 10%;
  }
  .pc-footer {
    margin-top: 20%;
  }
  /* graficas  */
  .container-main-graficas {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  .container-h4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: -10%;
  }
  .container-h4 .h4-card {
    margin: 3%;
  }
  .container-h4 .h4-card a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  .container-h4 .h4-card a .target-h4 {
    width: 90px;
    height: 40px;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 2px;
  }
  .container-pv {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 50px;
    margin-left: 18%;
  }
  .container-pv .container-pv-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
  }
  .container-pv .container-pv-img .img-card-pv {
    width: 280px;
    height: 190px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .pv-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .pv-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #f16f6f;
  }
  .vid-container-pv {
    display: flex;
    margin-right: 1rem;
  }
  .vid-container-pv .vid-container-pvdos {
    display: flex;
  }
  .card-videos-pv {
    display: flex;
    width: 200px;
    height: 150px;
  }
  /* HARDWARE */
  .container-main-hardware {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    margin-top: -10%;
  }
  .container-h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container-h3 .h3-card a {
    text-decoration: none;
  }
  .container-h3 .h3-card a .h3-target {
    width: auto;
    height: auto;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container-hw {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 30px;
    margin: 0;
    margin: 0% 0% 20% 20%;
  }
  .container-img-hw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
  }
  .container-img-hw .img-card-hw {
    width: 220px;
    height: 190px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .hw-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .hw-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #f16f6f;
  }
  .vid-container-hw {
    display: flex;
    margin-right: 1rem;
  }
  .vid-container-hw .vid-container-hwdos {
    display: flex;
  }
  .card-videos-hw {
    display: flex;
    width: 200px;
    height: 150px;
  }
  .hw-footer {
    margin-top: 40%;
  }
  /* CONTACTO */
  footer {
    margin-top: 35%;
  }
}
/* mobile */
@media only screen and (max-width: 576px) {
  /* General */
  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  nav header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  nav header h1 {
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
  nav header h1 footer ul {
    justify-content: space-around;
  }
  /* Index */
  .container-ix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-ix .card-img-ix {
    width: 45%;
    height: 50%;
  }
  .container-ix .card-img-ix .ixcore {
    margin-top: 1rem;
  }
  /* PC ARMADAS */
  .container-main-pcs {
    height: 100vh;
    margin: 0;
  }
  .container-h2 {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .container-h2 .h2-card {
    display: flex;
    width: 118px;
    height: 40px;
    margin-top: -5%;
  }
  .container-h2 .h2-card a .h2-text {
    width: 100%;
    font-size: 20px;
    height: 100%;
  }
  .container-pc {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 50px;
    padding-left: 48px;
  }
  .container-pc .card-container {
    width: 100%;
  }
  .container-pc .card-container .img-card-pc {
    width: 210px;
    height: 200px;
  }
  .pc-container-btn {
    width: 90px;
    font-size: 12px;
    height: 30px;
    margin: 0;
    margin-left: 25%;
    margin-top: 1rem;
  }
  .pc-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-left: 20%;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
  }
  .pc-container-btn:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    color: #f16f6f;
    transition: all 0.3s ease;
  }
  .pc-footer {
    margin-top: 0;
  }
  /* Graficas */
  .container-main-graficas {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
  }
  .container-h4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container-h4 .h4-card a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  .container-h4 .h4-card a .target-h4 {
    width: auto;
    height: auto;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-pv {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 50px;
    margin-right: 15%;
  }
  .container-pv .container-pv-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
  }
  .container-pv .container-pv-img .img-card-pv {
    width: 280px;
    height: 190px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .pv-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .pv-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #ec8787;
  }
  .vid-container-pv {
    display: flex;
    margin-right: 1rem;
  }
  .vid-container-pv .vid-container-pvdos {
    display: flex;
  }
  .card-videos-pv {
    display: flex;
    width: 200px;
    height: 150px;
  }
  /* HARDWARE */
  .container-main-hardware {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    margin-top: -10%;
  }
  .container-h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container-h3 .h3-card a {
    text-decoration: none;
  }
  .container-h3 .h3-card a .h3-target {
    width: auto;
    height: auto;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container-hw {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 30px;
    padding-left: 50px;
    margin: 0;
    margin-left: 2%;
  }
  .container-img-hw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
  }
  .container-img-hw .img-card-hw {
    width: 220px;
    height: 190px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .hw-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 3%;
    margin: 0;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
  }
  .hw-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #f16f6f;
  }
  .vid-container-hw {
    display: flex;
    margin-right: 1rem;
  }
  .vid-container-hw .vid-container-hwdos {
    display: flex;
  }
  .card-videos-hw {
    display: flex;
    width: 200px;
    height: 150px;
  }
  .hw-footer {
    margin-top: 40%;
  }
  /* CONTACTO */
  footer {
    margin-top: 35%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 575px) {
  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  nav header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  nav header h1 {
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  nav header h1 footer ul {
    justify-content: space-around;
  }
  .section-list {
    margin: 0;
  }
  .section-list li {
    font-size: 8px;
  }
  /* Index */
  .container-ix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
  }
  .container-ix .card-img-ix {
    width: 45%;
    height: 50%;
  }
  .container-ix .card-img-ix .ixcore {
    margin-top: 1rem;
  }
  .pie-ix {
    margin-top: 20%;
  }
  /* PC ARMADAS */
  .container-main-pcs {
    height: auto;
    width: 100%;
    margin: 0;
  }
  .container-h2 {
    width: 100%;
    margin-top: 8%;
  }
  .container-h2 .h2-card {
    display: flex;
    width: 95px;
    height: 32px;
    margin-top: -5%;
  }
  .container-h2 .h2-card a .h2-text {
    width: 100%;
    font-size: 14px;
    height: 100%;
  }
  .container-pc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 33px;
  }
  .container-pc .card-container {
    width: 100%;
  }
  .container-pc .card-container .img-card-pc {
    width: 125px;
    height: 170px;
  }
  .pc-container-btn {
    width: 90px;
    font-size: 12px;
    height: 30px;
    margin: 0;
    margin-left: 25%;
    margin-top: 1rem;
  }
  .pc-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93px;
    height: 29px;
    font-size: 10px;
    margin-left: 13%;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border: 2px solid #ffffff;
  }
  .pc-container-btn:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    color: #f16f6f;
    transition: all 0.3s ease;
  }
  .pc-footer {
    margin-top: 18%;
  }
  /* Graficas */
  .container-main-graficas {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
  }
  .container-h4 {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container-h4 .h4-card a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  .container-h4 .h4-card a .target-h4 {
    width: auto;
    height: auto;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-pv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap: 33px;
  }
  .container-pv .container-pv-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .container-pv .container-pv-img .img-card-pv {
    width: 132px;
    height: 147px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .pv-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93px;
    height: 29px;
    font-size: 10px;
    background-color: black;
    color: white;
    border: 1px solid #ffffff;
  }
  .pv-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #ec8787;
  }
  .vid-container-pv {
    display: block;
  }
  .card-videos-pv {
    display: flex;
    width: 120px;
    height: 102px;
    padding-bottom: 34px;
    margin-left: 10px;
  }
  .pie {
    margin-top: 10%;
  }
  /* HARDWARE */
  .container-main-hardware {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    margin-top: -10%;
  }
  .container-h3 {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .container-h3 .h3-card a {
    text-decoration: none;
  }
  .container-h3 .h3-card a .h3-target {
    width: auto;
    height: auto;
    padding: 14px 8px 4px 8px;
    background: rgb(12, 158, 158);
    color: #ffffff;
    border-color: #fdfdfd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px 4px 8px 4px;
    font-family: "Aldrich";
    font-weight: bold;
    font-size: 8px;
    font-style: italic;
    text-align: center;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .container-hw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap: 33px;
  }
  .container-img-hw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .container-img-hw .img-card-hw {
    width: 132px;
    height: 147px;
    border: 10px solid;
    border-image: linear-gradient(to top, rgb(15, 32, 32) 50%, rgb(92, 138, 135) 50%);
    border-image-slice: 1;
  }
  .hw-container-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93px;
    height: 29px;
    font-size: 10px;
    background-color: black;
    color: white;
    border: 1px solid #ffffff;
  }
  .hw-container-btn:hover {
    background-color: rgb(255, 255, 255);
    color: #f16f6f;
  }
  .vid-container-hw {
    display: block;
  }
  .card-videos-hw {
    display: flex;
    width: 120px;
    height: 102px;
    padding-bottom: 34px;
    margin-left: 10px;
  }
  .hw-footer {
    margin-top: 20%;
  }
  /* CONTACTO */
  .container-main-contacto {
    height: auto;
  }
  footer {
    margin-top: 5%;
  }
  footer ul {
    margin: 0;
    padding: 0;
  }
  footer ul a {
    font-size: 10px;
  }
  .form-contacto {
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
